*.h5
*.pyc
blue_amazon_frog/frogbone_datafiles.zip
*.mp4
smartt.egg-info/dependency_links.txt
smartt.egg-info/entry_points.txt
smartt.egg-info/PKG-INFO
smartt.egg-info/requires.txt
smartt.egg-info/SOURCES.txt
smartt.egg-info/top_level.txt
*.pt
*.log
wandb/latest-run
wandb/*
*.patch
notebooks/mumott_plotting/.DS_Store
sici/bone_user_geometry.geo
sici/mumott_plotting/.ipynb_checkpoints/*
